openai
langchain
streamlit
python-dotenv
PyPDF2
langchain_community
langchain-openai
pinecone-client
tiktoken
pypdf
langchain-ollama
# dotenv
pinecone-client[grpc]
langchain-pinecone
chromadb
langchain-ollama
huggingface-hub
# llama-cpp-python==0.1.78
llama-cpp-python
numpy

-e .